

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Ubuntu Sans Mono", "Segoe UI", system-ui, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin-top: 30px;
}

header {
    height: 100%;
    max-width: 1080px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
}

header > a {
    font-weight: 600;
    font-size: 20px;
}

.main-wrapper {
    width: 100%;
    margin: 40px;
}

main {
    max-width: 1080px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px
}

.navLogo, .navLogo > img {
    height: 75%;
    margin: auto 0;
    align-items: center;
    display: flex;
}

.linksList {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.linksList > li > a {
    display: flex;
    align-items: center;
    gap: 30px;
}

.aboutImage {
    transition: .2s ease-in-out;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    height: 300px;
    object-fit: cover;
    border: 2px solid #9F9F9F;
    box-shadow: 0 0 32px -8px #9F9F9F;
}

.aboutImage:hover {
    transform: scale(1.05);
}

.header-wrapper {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #9F9F9F;
}

.linkImage > img {
    height: 35px;
}
