{% extends 'components/layout.html' %}
{% load static %}

{% block content %}
	<div>
		<div class="swiper">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
			<!-- Slides -->
				{% for i in range %}
					<div class="swiper-slide">
						<img src="{% static 'img/swiper' %}/{{ i }}.jpg" alt="">
					</div>
				{% endfor %}
			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>

			<!-- If we need navigation buttons -->
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
	<script>
		const swiper = new Swiper('.swiper', {
			loop: true,
			grabCursor: true,

			pagination: {
				el: '.swiper-pagination',
				clickable: true,
				dynamicBullets: true
			},

			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},

			scrollbar: {
				el: '.swiper-scrollbar',
			},
		});

	</script>
	<h2>
		О нас
	</h2>
	<p>
		Компания STEAMPRESSOR специализируется на аренде мобильных парогенераторов для строительства,
		предоставляя своим клиентам современные и надежные решения для выполнения различных
		задач на строительных площадках. Наша миссия - обеспечить бесперебойное и эффективное
		пароснабжение для вашего проекта, вне зависимости от его масштаба и сложности.
	</p>
	<img class="aboutImage" src="{% static 'img/about/about1.jpg' %}" alt="">
	<p>
		Мы предлагаем широкий ассортимент парогенераторов, которые легко транспортируются и быстро
		устанавливаются, что позволяет минимизировать простои и сократить расходы на аренду.
		Вся наша техника проходит регулярное техническое обслуживание и тщательную проверку,
		что гарантирует её высокую производительность и безопасность в эксплуатации.
	</p>
	<p>
		Команда STEAMPRESSOR состоит из квалифицированных специалистов с многолетним опытом
		работы в отрасли. Мы готовы предоставить профессиональные консультации и поддержку на всех
		этапах сотрудничества, от выбора оборудования до его монтажа и обслуживания.
	</p>
	<img class="aboutImage" src="{% static 'img/about/about2.png' %}" alt="">
	<p>
		Мы гордимся нашим индивидуальным подходом к каждому клиенту и стремимся к долгосрочному
		партнерству, предлагая гибкие условия аренды и конкурентоспособные цены. Благодаря нашему
		вниманию к деталям и высокому уровню сервиса, мы заслужили доверие и признание множества
		строительных компаний.
	</p>
	<p>
		Обратившись в STEAMPRESSOR, вы получаете надежного партнера, который заботится о вашем
		успехе и предоставляет лучшие решения для выполнения строительных задач в срок и с высоким
		качеством. Свяжитесь с нами сегодня, чтобы узнать больше о наших услугах и начать сотрудничество!
	</p>
	<img class="aboutImage" src="{% static 'img/about/about3.jpg' %}" alt="">
{% endblock %}